/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: hsla(0, 5%, 4%, 0.74);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container Styles */
.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* Heading Styles */
h1 {
    margin-top: 0;
    color: #333;
}

/* Input Styles */
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button Styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a3a7;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #212388;
}

button#clearListBtn {
    background-color: #dc3545;
    margin-top: 20px;
}

button#clearListBtn:hover {
    background-color: #c5c823;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.purchased {
    text-decoration: line-through;
    background-color: #d4edda;
}

/* Edit Button Styles */
button.edit {
    background-color: #ffc107;
}

button.edit:hover {
    background-color: #b300e0;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span.close:hover,
span.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}